* {
  font-family: "Shrikhand", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  margin: 0%;
  padding: 0px;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
header .header-logo {
  width: 197px;
  height: 36px;
  padding: 14px 89px;
}
header .location-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 17px;
  background-color: #eaeaea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.explications {
  margin-top: 39px;
  margin-bottom: 57px;
}
.explications h1 {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}
.explications p {
  font-weight: 300;
  font-size: 1.125rem;
  text-align: center;
}

.button-explorer {
  display: block;
  border: 0px solid black;
  border-radius: 50px;
  padding: 18.75px 13px;
  margin-top: 27px;
  font-size: 1rem;
  font-weight: 500;
  background: rgb(147, 86, 220);
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  color: white;
  text-align: center;
  width: 218px;
  margin: auto;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: transform 200ms;
}
.button-explorer:hover {
  transform: scale(1.01);
  opacity: 0.9;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 48px 0px;
  background-color: white;
  gap: 25px;
}
.fonctionnement .section-title {
  margin-left: 20px;
}
.fonctionnement .buttons-function {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 68px;
}
.fonctionnement .button-fonctionnement {
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: center;
  background-color: #f6f6f6;
  border: 1px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin-left: 12.51px;
  position: relative;
  width: 90%;
  margin-left: 20px;
}
.fonctionnement .button-fonctionnement .chiffre {
  display: flex;
  background-color: #9356dc;
  border: 1px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: white;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -3%;
}
.fonctionnement .button-fonctionnement .button-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 27px;
  padding-left: 33.5px;
}
.fonctionnement .button-fonctionnement .button-text i {
  color: #7e7e7e;
}

.restaurants {
  margin: 20px;
}

.heart-button {
  display: inline-block;
  background-image: url("../public/images/hollow-3.png");
  background-size: cover;
  background-position: center;
  width: 22px;
  height: 21px;
  cursor: pointer;
  transition: background-image 0.2s;
}

#toggle-heart:checked + .heart-button {
  background-image: url("../public/images/coloured-2.png");
}

.restaurants-cards {
  gap: 18px;
  display: flex;
  flex-direction: column;
}
.restaurants-cards a {
  text-decoration: none;
  color: black;
}
.restaurants-cards .card {
  height: 251px;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;
  align-items: baseline;
  justify-content: end;
}
.restaurants-cards img {
  width: 100%;
  height: 231px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  position: absolute;
  bottom: 31%;
}
.restaurants-cards .card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-bottom: 12px;
}
.restaurants-cards .card-content .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}
.restaurants-cards .card-content .card-subtitle {
  margin: 0;
}
.restaurants-cards .card-new {
  position: absolute;
  bottom: 78%;
  left: 72.5%;
}
.restaurants-cards .card-new p {
  background-color: #99e2d0;
  color: #008766;
  padding: 7px 9px;
  border: 1px;
  border-radius: 2px;
}
.restaurants-cards #toggle-heart {
  position: absolute;
  top: 81%;
  left: 85%;
  z-index: 1;
  opacity: 0;
}
.restaurants-cards .heart-button {
  position: absolute;
  top: 81%;
  left: 85%;
}
.restaurants-cards #toggle-heart:checked + .heart-button {
  background-image: url("../public/images/coloured-2.png");
}

footer {
  background-color: #353535;
  padding: 22px 25px;
  color: white;
  gap: 16px;
}
footer .footer-links {
  height: 99px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .footer-links a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
  font-size: 1rem;
}
footer .footer-logo h2 {
  font-family: "Shrikhand", sans-serif;
}

.courbure {
  position: relative;
  top: -20px;
  height: 20px;
  width: 100%;
  background-color: #f6f6f6;
  z-index: 1;
  border-radius: 25px 25px 0px 0px;
}

.header-picture .restaurant-picture {
  object-fit: cover;
  width: 100%;
  height: 275px;
  z-index: 0;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0px 17px;
  gap: 43px;
}
.title h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 28px;
  white-space: nowrap;
  margin-top: 0px;
}
.title .heart-button {
  position: absolute;
  top: 37%;
  left: 85.5%;
}
.title #toggle-heart {
  z-index: 1;
  opacity: 0;
}

.menu {
  margin: 0px 13px;
}

.bloc-menus {
  display: flex;
  flex-direction: column;
}
.bloc-menus h2 {
  font-weight: 300;
  font-size: 1rem;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 9px;
  width: 40px;
}

@media (min-width: 767.98px) {
  .fonctionnement .section-title,
  .fonctionnement .buttons-function {
    margin: auto;
    max-width: 1080px;
  }
  .fonctionnement .buttons-function {
    flex-direction: row;
    max-width: 1080px;
  }
  .fonctionnement .buttons-function .button-fonctionnement {
    width: 33%;
  }
  .restaurants {
    margin: auto;
    max-width: 1080px;
    margin-bottom: 30px;
  }
  .restaurants-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
  }
  .restaurants-cards .card {
    flex-basis: calc(50% - 100px);
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    align-items: center;
  }
  footer .footer-links {
    flex-direction: row;
    gap: 10px;
  }
  footer .footer-logo h2 {
    height: 27px;
  }
}

/*# sourceMappingURL=style.css.map */
