* {
  font-family: "Shrikhand", sans-serif;
  font-family: "Roboto", sans-serif;
}

$purple-primary: #9356dc;
$pink-secondary: #ff79da;
$light-green: #99e2d0;
$dark-green: #008766;
$light-blue: #89c8fa;
$dark-blue: #003a68;
$location-color: #eaeaea;
$footer-color: #353535;
$background-color: #f6f6f6;
$secondary-back: white;
$loader-size: 45px;
$anim-duration: 0.75s;
$num-letters: 8;
$anim-delay: calc($anim-duration / $num-letters);
$extra-delay: 0.25s;

.load {
  width: $loader-size * 8;
  height: $loader-size * 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: 100;
  opacity: 0;
  animation: fadeOutLoader 2s;
  .load-text {
    font-family: "Shrikhand", sans-serif;
    height: 100%;
    width: $loader-size;
    animation: letters $anim-duration backwards 2 ease-in-out reverse;
    @for $i from 1 through $num-letters {
      &--#{$i} {
        animation-delay: $anim-delay * $i;
      }
    }
  }
}
@keyframes letters {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.5);
  }
}
@keyframes fadeOutLoader {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

body {
  display: flex;
  justify-content: center;
  background-color: $background-color;
  margin: 0%;
  padding: 0px;
  color: black;
}
.main-container {
  width: 100%;
  box-sizing: border-box;
}

#lne {
  width: 100%;
}

#main-index {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  animation: fadeIn 1s ease-in-out $anim-duration * 2.5 forwards;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background-color: $background-color;
  .logo-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $secondary-back;
    width: 100%;
  }
  .header-logo {
    width: 197px;
    height: 36px;
    padding: 14px;
  }
  .location-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 17px;
    background-color: $location-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  }
}
.explications {
  margin-top: 39px;
  margin-bottom: 57px;

  h1 {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
  }
  p {
    font-weight: 300;
    font-size: 1.125rem;
    text-align: center;
  }
}
.button-explorer {
  display: block;
  border: 0px solid black;
  border-radius: 50px;
  padding: 18.75px 13px;
  margin-top: 27px;
  font-size: 1rem;
  font-weight: 500;
  background: rgb(147, 86, 220);
  background: linear-gradient(0deg, $purple-primary 0%, $pink-secondary 100%);
  color: white;
  text-align: center;
  width: 218px;
  margin: auto;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: all 200ms;
  &:hover {
    transform: scale(1.01);
    opacity: 0.9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  }
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 48px 0px;
  background-color: $secondary-back;
  gap: 25px;
  .section-title {
    margin-left: 20px;
  }
  .buttons-function {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 68px;
  }
  .button-fonctionnement {
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: center;
    background-color: $background-color;
    border: 1px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    margin-left: 12.51px;
    position: relative;
    width: 90%;
    margin-left: 20px;

    .chiffre {
      display: flex;
      background-color: $purple-primary;
      border: 1px;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      color: $secondary-back;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: -3%;
    }
    .button-text {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 27px;
      padding-left: 33.5px;
      i {
        color: #7e7e7e;
      }
    }
    &:hover i {
      color: $purple-primary;
    }
  }
}

.restaurants {
  margin: 20px;
}

.heart-button {
  display: inline-block;
  background-image: url("../public/images/hollow-3.png");
  background-size: cover;
  background-position: center;
  width: 22px;
  height: 21px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.toggle-heart:checked + .heart-button {
  background-image: url("../public/images/coloured-2.png");
}

.card {
  background-color: $secondary-back;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.card-wrapper {
  background-color: $secondary-back;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.restaurants-cards {
  gap: 18px;
  display: flex;
  flex-direction: column;
  .card {
    height: 251px;
  }
  a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    height: 251px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    align-items: baseline;
    justify-content: end;
  }
  img {
    width: 100%;
    height: 231px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    position: absolute;
    bottom: 31%;
  }
  .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-bottom: 12px;
    .card-title {
      margin-top: 10px;
      margin-bottom: 4px;
    }
    .card-subtitle {
      margin: 0;
    }
  }
  .card-new {
    position: absolute;
    bottom: 78%;
    left: 72.5%;
    p {
      background-color: $light-green;
      color: $dark-green;
      padding: 7px 9px;
      border: 1px;
      border-radius: 2px;
    }
  }
  .toggle-heart {
    position: relative;
    left: 81%;
    bottom: 14.5%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
  }
  .heart-button {
    position: relative;
    left: 79.5%;
    bottom: 21.5%;
  }

  .toggle-heart:checked + .heart-button {
    background-image: url("../public/images/coloured-2.png");
  }
}

footer {
  background-color: $footer-color;
  padding: 22px 25px;
  color: white;
  gap: 16px;

  .footer-links {
    height: 99px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    a {
      text-decoration: none;
      color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 11px;
      font-size: 1rem;
    }
    .handshake {
      gap: 5px;
    }
  }
  .footer-logo h2 {
    font-family: "Shrikhand", sans-serif;
  }
}

//Restaurants

.logo-bar {
  i {
    font-size: 30px;
    position: absolute;
    left: 17px;
    top: 18px;
    color: black;
  }
}
.courbure {
  position: relative;
  top: -25px;
  height: 20px;
  width: 100%;
  background-color: $background-color;
  z-index: 1;
  border-radius: 25px 25px 0px 0px;
}
.header-picture {
  .restaurant-picture {
    object-fit: cover;
    width: 100%;
    height: 275px;
    z-index: 0;
  }
}
.title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0px 17px;
  gap: 10px;
  h1 {
    font-family: "Shrikhand", sans-serif;
    font-weight: 400;
    font-size: 28px;
    white-space: nowrap;
    margin-top: 0px;
  }
  .toggle-heart {
    position: relative;
    left: 32px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  margin: 0px 13px;
  gap: 40px;
  margin-bottom: 40px;
}
.bloc-menus {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(20px);
  //animation: ApparitionMenus 2s ease-out forwards;
  animation-name: ApparitionMenus;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

  @keyframes ApparitionMenus {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  h2 {
    font-weight: 300;
    font-size: 1rem;
    border-bottom: 3px solid $light-green;
    padding-bottom: 9px;
    width: 40px;
  }
  .menu-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .card {
    display: flex;
    overflow: hidden;
    height: 72px;
    margin: auto;
    width: 100%;
    .card-content {
      padding: 12px 0 12px 15px;
      width: 290px;
      transition: 1s;
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
      }
    }
    .card-title {
      font-size: 18px;
      font-weight: 500;
    }
    .card-subtitle {
      font-size: 15px;
      font-weight: 300;
    }
    .card-price {
      width: 47px;
      display: flex;
      transition: 0.7s;
      transform: translateX(10px);
    }
    .check-mark {
      display: flex;
      background-color: $light-green;
      color: $secondary-back;
      width: 0px;
      border-radius: 0px 15px 15px 0px;
      align-items: center;
      justify-content: center;
      transform: translateX(59px);
      transition: 0.7s;
      i {
        width: 20px;
        height: 20px;
      }
    }
  }
  .card:hover .check-mark {
    transform: translateX(-0px);
    width: 59px;
  }
  .card:hover .card-price {
    transform: translateX(5px);
  }
  .card:hover .card-content {
    width: 240px;
    transition: 0.5s;
  }
}
#entree {
  animation-delay: 0s;
}
#plats {
  animation-delay: 0.75s;
}
#desserts {
  animation-delay: 1.5s;
}

@media (min-width: 767.98px) {
  .load {
    left: 40%;
  }
  .fonctionnement {
    align-items: center;
    .contenu-fonctionnement {
      width: 100%;
      max-width: 1080px;
    }
    .section-title,
    .section-title {
      align-items: baseline;
    }
    .buttons-function {
      flex-direction: row;
      .button-fonctionnement {
        .button-text {
          text-wrap: nowrap;
        }
      }
    }
  }

  .restaurants {
    margin: auto;
    max-width: 1080px;
    width: 100%;
    margin-bottom: 30px;
  }
  .restaurants-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    .card {
      flex-basis: calc(50% - 50px);
    }
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    align-items: center;
    .footer-links {
      flex-direction: row;
      gap: 10px;
    }
    .footer-logo h2 {
      height: 27px;
    }
  }
  .header-picture {
    .restaurant-picture {
      height: 383px;
    }
  }

  .bloc-menus {
    max-width: 1080px;
    width: 100%;
    .card {
      width: 634px;
      .card-content {
        width: 572px;
      }
      .card-price {
        transform: translateX(0px);
      }
    }
    .card:hover .card-content {
      width: 600px;
    }
  }
  .header-picture {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  .courbure {
    max-width: 1080px;
    height: 40px;
    top: -15px;
  }
  header {
    margin-bottom: 0px;
    background-color: $secondary-back;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -15px;
    background-color: $secondary-back;
  }
  .main-content {
    background-color: $background-color;
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 1080px;
    align-items: center;
    justify-content: center;
  }
}
