* {
  font-family: "Shrikhand", sans-serif;
  font-family: "Roboto", sans-serif;
}

$purple-primary: #9356dc;
$pink-secondary: #ff79da;
$light-green: #99e2d0;
$dark-green: #008766;
$light-blue: #89c8fa;
$dark-blue: #003a68;
$location-color: #eaeaea;
$footer-color: #353535;
$background-color: #f6f6f6;
$secondary-back: white;

body {
  display: flex;
  justify-content: center;
  background-color: $background-color;
  margin: 0%;
  padding: 0px;
}
.main-container {
  width: 100%;
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  .header-logo {
    width: 197px;
    height: 36px;
    padding: 14px 89px;
  }
  .location-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 17px;
    background-color: $location-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  }
}
.explications {
  margin-top: 39px;
  margin-bottom: 57px;

  h1 {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
  }
  p {
    font-weight: 300;
    font-size: 1.125rem;
    text-align: center;
  }
  .button-explorer {
    display: block;
    border: 0px solid black;
    border-radius: 50px;
    padding: 18.75px 13px;
    margin-top: 27px;
    font-size: 1rem;
    font-weight: 500;
    background: rgb(147, 86, 220);
    background: linear-gradient(0deg, $purple-primary 0%, $pink-secondary 100%);
    color: white;
    text-align: center;
    width: 218px;
    margin: auto;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: transform 200ms;
    &:hover {
      transform: scale(1.01);
      opacity: 0.9;
    }
  }
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 48px 0px;
  background-color: $secondary-back;
  gap: 25px;
  .section-title {
    margin-left: 20px;
  }
  .buttons-function {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 68px;
  }
  .button-fonctionnement {
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: center;
    background-color: $background-color;
    border: 1px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    margin-left: 12.51px;
    position: relative;
    width: 90%;
    margin-left: 20px;
    .chiffre {
      display: flex;
      background-color: $purple-primary;
      border: 1px;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      color: $secondary-back;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: -3%;
    }
    .button-text {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 27px;
      padding-left: 33.5px;
      i {
        color: #7e7e7e;
      }
    }
  }
}

.restaurants {
  margin: 20px;
}

.restaurants-cards {
  gap: 18px;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
    color: black;
  }
  .card {
    height: 251px;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    background-color: $secondary-back;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative;
    align-items: baseline;
    justify-content: end;
  }
  img {
    width: 100%;
    height: 231px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    position: absolute;
    bottom: 31%;
  }
  .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-bottom: 12px;
    .card-title {
      margin-top: 10px;
      margin-bottom: 4px;
    }
    .card-subtitle {
      margin: 0;
    }
  }
  .card-new {
    position: absolute;
    bottom: 78%;
    left: 72.5%;
    p {
      background-color: $light-green;
      color: $dark-green;
      padding: 7px 9px;
      border: 1px;
      border-radius: 2px;
    }
  }
  #toggle-heart {
    position: absolute;
    top: 81%;
    left: 85%;
    z-index: 1;
    opacity: 0;
  }
  .heart-button {
    display: inline-block;
    background-image: url("../public/images/hollow-3.png");
    background-size: cover;
    background-position: center;
    width: 22px;
    height: 21px;
    cursor: pointer;
    transition: background-image 0.2s;
    position: absolute;
    top: 81%;
    left: 85%;
  }
  #toggle-heart:checked + .heart-button {
    background-image: url("../public/images/coloured-2.png");
  }
}

footer {
  background-color: $footer-color;
  padding: 22px 25px;
  color: white;
  gap: 16px;

  .footer-links {
    height: 99px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    a {
      text-decoration: none;
      color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 11px;
      font-size: 1rem;
    }
  }
  .footer-logo h2 {
    font-family: "Shrikhand", sans-serif;
  }
}

@media (min-width: 767.98px) {
  .fonctionnement {
    .section-title,
    .buttons-function {
      margin: auto;
      max-width: 1080px;
    }
    .buttons-function {
      flex-direction: row;
      max-width: 1080px;
      .button-fonctionnement {
        width: 33%;
      }
    }
  }

  .restaurants {
    margin: auto;
    max-width: 1080px;
    margin-bottom: 30px;
  }
  .restaurants-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    .card {
      flex-basis: calc(50% - 100px);
    }
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    align-items: center;
    .footer-links {
      flex-direction: row;
      gap: 10px;
    }
    .footer-logo h2 {
      height: 27px;
    }
  }
}
